/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common Styles */
:root {
    --primary-light: #FFFFFF;
    --background-blue: #2D25A0;
    --background-white: #F5F5F5;
    --button: #E02C6D;
    --text-light: #6C6C6C;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------------
Banner Section Styles
----------------------*/
.banner {
    background-color: var(--background-blue);
    display: flex;
    padding: 150px 140px 85px 140px;

}
.banner__title {
    margin-right: 30px;
}
.banner__title h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: var(--primary-light);
    }
.banner__title a {
    text-decoration: none;
    background: var(--button);
    padding: 10px 24px;
    color: var(--primary-light);
}
.banner__img img {
    width: 556.01px;
    height: 438px;
}

/*-----------------------
Players Section Styles
------------------------*/
.players {
    padding: 70px 150px;
    background-color: var(--background-white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player {
    Width: 300px;
    Height: 426px;
    background-color: var(--primary-light);
    padding: 15px;
}
.player__img img {
    width: 300px;
    height: 256px;
}
.player h2 {
    font-size: 28px;
    margin: 10px 0;
}
.player p {
    color: var(--text-light);
}

/*-----------------------
Footer Section Styles
------------------------*/
.footer {
    text-align: center;
    font-size: 18px;
    padding: 60px 0;
}
.footer .logo img {
    width: 470px;
    height: 110px;
}
.footer .social-icons {
    margin: 0 7px;
}
.footer .social-icons i {
    width: 32px;
    height: 32px;
    cursor: pointer;
}