/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common Styles */
:root {
    --primary-light: #FFFFFF;
    --background-blue: #2D25A0;
    --background-white: #F5F5F5;
    --button: #E02C6D;
    --text-light: #6C6C6C;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* animation */
@keyframes moving-image {
    0% {left: 0}
    50% {left: 80px}
    100% {left: 0}
}

.button {
    text-decoration: none;
    background: var(--button);
    padding: 10px 24px;
    transition: all 0.3s ease;
    color: var(--primary-light);
}
.button i {
    transition: all 0.3s ease;
}
.button:hover {
    padding-right: 50px;
}
.button:hover i {
    transform: translateX(20px);
}
.button.login:hover {
    padding-left: 50px;
}
.button.login:hover i {
    transform: translateX(-20px);
}

/*--------------------
Header Section Styles
----------------------*/
.header {
    background-color: var(--background-blue);
    padding: 50px 50px 0 50px;
    display: flex;
    justify-content: space-between;
}
.mobile-menu {
    font-size: 20px;
    color: var(--primary-light);
    cursor: pointer;
    display: none;
}
.menu ul {
    list-style-type: none;
    display: flex;
}
.menu ul li {
    margin: 0 18px;
}
.menu ul li a {
    transition: all 0.5s ease;
    text-decoration: none;
    color: var(--primary-light);
    padding: 10px 24px;
    border-radius: 5px;
}
.menu ul li a:hover {
    background: var(--button);
}

/*--------------------
Banner Section Styles
----------------------*/
.banner {
    background-color: var(--background-blue);
    display: flex;
    padding: 100px 140px 85px 140px; 
}
.banner__title {
    margin-right: 30px;
}
.banner__title h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: var(--primary-light);
    }
.banner__img img {
    width: 556px;
    height: 438px;
    position: relative;
    animation-name: moving-image;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: linear;
}

/*-----------------------
Players Section Styles
------------------------*/
.players {
    padding: 70px 150px;
    background-color: var(--background-white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player {
    Width: 300px;
    cursor: pointer;
    background-color: var(--primary-light);
    padding: 15px;
    transition: transform 0.2s linear;
}
.player:hover {
    transform: scale(1.02);
}
.player__img img {
    width: 300px;
    height: 256px;
}
.player h2 {
    font-size: 28px;
    margin: 10px 0;
}
.player p {
    color: var(--text-light);
}

/*-----------------------
Sponsors Section Styles
------------------------*/
.sponsors {
    padding: 50px 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sponsors__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.sponsor img {
    width: 100%;
}

/*-----------------------
Highlights Section Styles
------------------------*/
.highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 150px;
    grid-gap: 40px;
    background-color: var(--background-white);
}
.highlights__info h2 {
    font-size: 48px;
}
.highlights__info p{
    margin-bottom: 30px;
}
.highlights__img img {
    Width: 567px;
    Height: 427px
}

/*-----------------------
News Section Styles
------------------------*/
.news {
    padding: 20px;
}
.news__title h2 {
    text-align: center;
    font-size: 40px;
    
}
.news__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    cursor: pointer;
}
.news__item {
    background-color: var(--background-white);
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s linear;
}
.news__item:hover {
    transform: scale(1.02);
}
.news__item img {
    width: 100%;
}
.news__item h4 {
    margin: 0;
}
/*-----------------------
Footer Section Styles
------------------------*/
.footer {
    text-align: center;
    font-size: 18px;
    padding: 60px 0;
}
.footer .logo img {
    width: 470px;
    height: 110px;
}
.footer .social-icons {
    margin: 0 7px;
}
.footer .social-icons i {
    font-size: 32px;
    margin: 5px;
    cursor: pointer;
    color: var(--text-light);
    transition: transform 0.2s ease;
}
.footer .social-icons i:hover {
    color: var(--background-blue);
    transform: scale(1.1);
}

/*-----------------------
Responsive Styles
------------------------*/

/* Tablet */
@media only screen and (max-width: 1024px) {
    .mobile-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .banner {
        max-width: 100%;
        padding: 35px;
    }
    .banner__title h1 {
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 50px;
    }
    .banner__img img,
    .highlights__img img {
        margin-top: 50px;
        max-width: 80%;
        height: 80%;
    }
    .players,
    .highlights {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        padding: 0 25px;
    }
    .player {
        max-width: 100%;
        margin: auto;
    }
    .sponsors {
        padding: 20px 30px;
    }
    .sponsors__item {
        width: 50%;
    }
    .highlights__info h2 {
        font-size: 30px;
    }
    .news__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .news__item {
        width:45%;
        margin-bottom: 10px;
    }
    .footer .logo img {
        width: 50%;
        height: 50%;
    }
}

/* Mobile Phone */
@media only screen and (max-width: 576px) {
    .header {
        padding: 30px 30px 0 30px;
    }
    .mobile-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .banner {
        flex-direction: column;
        max-width: 100%;
        padding: 15px;
    }
    .banner__title h1 {
        font-size: 36px;
        line-height: 45px;    
    }
    .banner__img img,
    .highlights__img img {
        margin-top: 50px;
        max-width: 100%;
        height: 100%;
        animation: none;
    }
    .players,
    .highlights {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 24px;
        padding: 0 25px;
    }
    .player {
        max-width: 100%;
        margin: auto;
    }
    .sponsors {
        padding: 10px 20px;
        justify-content: center;
    }
    .sponsors__item {
        width: 100%;
    }
    .highlights__info h2 {
        font-size: 30px;
    }
    .news__items {
        display: grid;
        grid-template-columns: 1fr;
    }
    .news__item {
        width: 100%;
    }
    .footer .logo img {
        width: 50%;
        height: 50%;
    }
}